###> symfony/framework-bundle ###
APP_ENV=dev
APP_DEBUG=1
APP_SECRET=c5cbbfb8d98e19cd57dc4b47b09c0d7d
###< symfony/framework-bundle ###

###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# To disable sending emails, use: "null://localhost"
MAILER_URL=smtp://localhost:25?encryption=&auth_mode=
###< symfony/swiftmailer-bundle ###

###> lexik/jwt-authentication-bundle ###
# Key paths should be relative to the project directory
JWT_PRIVATE_KEY_PATH=config/jwt/private.pem
JWT_PUBLIC_KEY_PATH=config/jwt/public.pem
JWT_PASSPHRASE=03b84566fe259d9b3b9bede7a4b6ddce
###< lexik/jwt-authentication-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For a sqlite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Set "serverVersion" to your server version to avoid edge-case exceptions and extra database calls
DATABASE_URL="mysql://root@127.0.0.1:3306/symfony?charset=utf8mb4&serverVersion=5.7"
DATABASE_URL_DEV="mysql://root:root@172.20.0.1:3306/smartfact?charset=utf8mb4&serverVersion=5.7"
###< doctrine/doctrine-bundle ###
###> snc/redis-bundle ###
# passwords that contain special characters (@, %, :, +) must be urlencoded
REDIS_URL=redis://localhost
###< snc/redis-bundle ###

# Docker
CONTAINER_NAME=project
WORKPATH=/var/www/project

# Servers Ports
NGINX_PORT=8080
PHP_PORT=9000
MONGODB_PORT=27017
REDIS_PORT=6379

# POSTGRESQL configuration
POSTGRES_DB=project
POSTGRES_USER=project
POSTGRES_PASSWORD=project
POSTGRES_PORT=5432

# Blackfire
BLACKFIRE_SERVER_ID=key
BLACKFIRE_SERVER_TOKEN=key

# Sengrid
MAILER_TRANSPORT=transport
MAILER_HOST=smtp.test.test
MAILER_USERNAME=username
MAILER_PASSWORD=password
MAILER_ENCRYPTION=ssl
MAILER_PORT=port
