parameters:
    default_connection: development

    # Environment host
    database_dev_host: 172.21.0.1
    database_prod_host: 127.0.0.1

    # Database informations (prod && dev)
    database_prod_port: null
    database_prod_name: symfony
    database_prod_user: root
    database_prod_password: null
    database_prod_server_version: null
    database_dev_port: null
    database_dev_name: symfony
    database_dev_user: symfony
    database_dev_password: symfony
    database_dev_server_version: null

    # Mailer informations
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null

    # Symfony secret
    secret: ThisTokenIsNotSoSecretChangeIt
