{% extends 'base.html.twig' %}

{% block body %}
    <p>Hello World !</p>
    <p id="app"></p>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/vue.js') }}"></script>
{% endblock %}
